.nav-toolbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  letter-spacing: 0.8px;
  color: whitesmoke;
  background-color: #161616;
  z-index: 100;

  .example-spacer {
    flex: 1 1 auto;
  }

  .container {
    display: flex;
    align-items: center;

    button {
      letter-spacing: 0.2px;
    }
  }
}

.productsTable {
  margin-top: 120px;
  border-radius: 5px;
  overflow: auto;

  th {
    font-weight: bold;
  }

  .editButton {
    margin-right: 10px;
  }
}
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

@media only screen and (max-width: 375px) {
  .nav-toolbar {
    font-size: 1.6rem;

    .container {
      .product-button {
        padding: 0 6px;
        height: 30px;
        font-size: 1.4rem;
      }
    }
  }
}
