mat-form-field {
  padding: 4px 0;
  width: 100%;

  .commentArea {
    min-height: 100px;
    max-height: 200px;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.actionButtons {
  margin: 10px;

  button {
    margin-right: 10px;
  }
}

//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------

@media only screen and (max-width: 375px) {
  .actionButtons {
    button {
      padding: 0 6px;
      height: 30px;
      font-size: 1.4rem;
    }
  }
}
